/* Spse green: rgb(27,200,154) 
   Spse darkGreen: rgb(87,169,151)
   Spse dark: rgb(31,51,69)
*/
html{
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f2f2f2;
}
body {
    min-height: 100vh;
    height: auto;
    margin: 0;
    background-color: rgb(31,51,69);
}
header{
    width: auto;
    background-color: rgb(0, 0, 0);
}
nav{
    display: flex;
    height: 4rem;
    align-items: center;
}
a:hover, button:hover{
    cursor: pointer;
}
nav>a{
    font-weight: bold;
    text-decoration: none;
    color: white;
    border: 0;
    font-size: x-large;
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 10px;
    margin-left: 2.5rem;
}
h2{
    color: white;
}
.overview{
    display: flex;
    flex-direction: column;
    align-items: center; 
    min-height: 90vh;
}

.base-btn{
    border: 2px solid white;
    padding: 25px;
    background-color: black;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
}
.base-btn:hover{
    background-color: rgba(255, 255, 255, 0.135) !important;
    transition: all 0.2s;
}

.create-subject{
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    width: 90%;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 2px solid black;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
}
.create-subject>h2{
    margin-right: auto;
    margin-left: 3.5rem;
}
.create-subject>button, .subject-key>button{
    margin-left: auto;
    height: 1.5rem;
    margin-right: 1rem;
    width: 1.5rem;
    border: 2px solid white;
    background-color: black;
    font-weight: bolder;
    color: white;
    border-radius: 15px;
}
.create-subject>button{
    width: fit-content;
}
.subject{
    background-color: black;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: fit-content;
    margin: 2rem;
    margin-top: 1rem;
    margin-bottom: 0;
    color: white;
    padding: 25px;
}
.addSVP{
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;
    border: 2px solid white;
    border-radius: 10px;
    margin-right: auto;
}
.subject label:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.135);
    transition: all 0.2s;
}
.changeSVP{
    border: 2px solid white;
    border-radius: 10px;
    height: auto;
    padding: 1rem;
    color: white;
    background-color: black;
}

.subject>div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.waitingC{
    border: 2px solid yellow;
    padding: 5px;
    color: white;
    margin-left: auto;
    border-radius: 20px;
}
.activeC{
    border: 2px solid lightgreen;
    padding: 5px;
    color: white;
    margin-left: auto;
    border-radius: 20px;
    
}
.failedC{
    border: 2px solid red;
    padding: 5px;
    color: white;
    margin-left: auto;
    border-radius: 20px;
}
.pausedC{
    border: 2px solid gray;
    padding: 5px;
    color: white;
    margin-left: auto;
    border-radius: 20px;
}
.warning-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
    width: 50%;
    height: 20%;
    align-items: center;
    border-radius: 10px;
    z-index: 100;
    padding: 5%;
}
.warning-box>div{
    display: flex;
    width: 25%;
}
.confirm, .cancel{
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: auto;
}
.blur{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    min-width: 100%;
    min-height: 100%;
    backdrop-filter: blur(10px);
}

.subject-board{
    display: flex;
    min-height: auto;
    width: 100%;
    flex-grow: 2;
    flex-wrap: wrap;
}

.embedd-board, .extract-board{
    display: flex;
    min-height: 60vh;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: black;
    border-radius: 50px;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.embedd-board>.subject, .extract-board>.subject{
    margin: 5px;
    border: 2px solid gray;
    width: 80%;
}

.board-wrapper{
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 1%;
    margin-top: 0% !important;
}
.board-wrapper>h2{
    color: white;
}

.extract-subject>.svp-controls, .embedd-subject>.svp-controls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto
}
.extract-subject>.svp-controls>*, .embedd-subject>.svp-controls>*{
    margin: auto;
}
.extract-subject>.svp-controls>button , .embedd-subject>.svp-controls>button{
    border: 2px solid white;
    border-radius: 10px;
    height: auto;
    padding: 1rem;
    color: white;
    background-color: black;
}
.extract-subject>.svp-controls>.oborNameInput{
    width: 75%;
    height: 50px;
    font-size: x-large;
}

input[type="file"]{
    display: none;
}
.active{
    background-color: rgb(27,200,154);
    border: 2px solid rgb(27,200,154);
    border-radius: 5px;
    text-decoration: none;
    color: white;
}
.subject-view{
    display: flex;
    width: 90%;
    margin-left: 10%;
    min-height: 70vh;
}
.ex-em-view{
    display: flex;
    width: 100%;
    min-height: 70vh;
    align-items: flex-start;
    justify-content: center;
}
.ex-em-buttons-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 10vh;
}
.ex-btn, .em-btn{
    margin: auto;
}
.ex-btn:disabled, .em-btn:disabled{
    background-color: initial !important;
    opacity: 0.6 !important;
    pointer-events: none !important;
    cursor: not-allowed !important;
}
.subject-key-board{
    min-height: auto;
    width: 40%;
    background-color: black;
    margin-right: 5.5%;
    display: flex;
    flex-direction: column;
}
.subject-key{
    display: flex;
    margin: 10px;
}
.subject-key>button{
    margin: auto;
    border-radius: 0px;
}
.subject-key>input{
    width: 80%;
}
.subject-key>input:disabled{
    color: white;
    font-weight: bold;
    background-color: black;
    border: 1px solid rgb(27,200,154);
    border-radius: 10px;
    padding-left: 10px;
}
.add-f-btn{
    margin-top: 25px;
}
.add-f-btn:disabled, .add-f-btn:disabled:hover{
    background-color: initial !important;
    opacity: 0.6 !important;
    pointer-events: none !important;
    cursor: not-allowed !important;
}
.loadingGif{
    display: none;
    z-index: 99999;
    position: fixed;
    height: 10rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 10px;
}